html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, td, th, tr, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea {
    font-size:      100%;
    line-height:    1.625em;
    text-align:     left;
    vertical-align: baseline;
    margin:         0;
    padding:        0;
    border:         0;
    border-radius:  0.3em;
/* SHOW BOXES
	-webkit-box-shadow: inset 0 0 0 1px rgba(84,113,231,1);
	-moz-box-shadow: 	inset 0 0 0 1px rgba(84,113,231,1);
	box-shadow: 		inset 0 0 0 1px rgba(84,113,231,1);
*/
}

body, .article {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size:   100%;
    line-height: 1.625em;
    color:       #7a91b6;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:  antialiased;
    font-smoothing:          antialiased;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, textarea {
    display: block;
}

/* MAIN PADDINGS & MARGINS */
input, button, p, li, tr, th, td, textarea, header {
    margin-bottom: 0.81250em;
    padding: 0.40625em 0 ;
}
small, .small, label {
    display: inline-block;
    font-size: 0.75em;
    line-height: 2.167em;
    margin-top: 0.542em;
    margin-bottom: 0.542em;
    padding-top: 0;
    padding-bottom: 0;
}

/* TYPOGRAPHY */
h1, .h1       { font-size: 3.5625em;  line-height: 1.36842105em;  margin-top: 0.91228070em;  margin-bottom: 0;  padding: 0; }
h2, .h2       { font-size: 2.625em;   line-height: 1.23809524em;  margin-top: 1.23809524em;  margin-bottom: 0;  padding: 0; }
h3, .h3       { font-size: 1.375em;   line-height: 1.18181818em;  margin-top: 1.18181818em;  margin-bottom: 0;  padding: 0; }
h4, h5, h6, p { font-size: 1em;       line-height: 1.625em;       margin: 0.8125em 0;}

a    { color: #5471e7; cursor: pointer;}
b    { font-weight: 700;}
i    { font-style: italic;}
s    { text-decoration: line-through; }
u    { text-decoration: underline; }
span { font-weight: normal;}

p, label, small, td, li { opacity: 0.75;}

table, tr, td, th       { border-collapse: collapse; }
tr:nth-child(even)      { background: rgba(0 ,0 ,0 , 0.25);}

li, td, th { list-style: disc; margin-left: 1em; padding-left: 1em;}

/* FORMS */
.button, button, input[type="text"],
input[type="submit"], textarea              { padding-left: 1em; padding-right: 1em;}
input[type="text"], textarea                { width: calc(100% - 2em);}
input[type="radio"], input[type="checkbox"] { position: relative; margin: 0; top: 0.25em;}


/* HAIRLINE & PROGRESS BAR */
hr   { margin: 1em 0; border: 1px solid; }
.bar { margin-bottom: 0; float: left; margin-top: -0.25em;}

/* HOVER EFFECTS */
button, input, a, textarea, .hover    { opacity: 0.9;}

button:hover, input:hover,
a:hover, textarea:hover, .hover:hover { opacity: 1;}

textarea:hover, input[type="text"]:hover {
    -webkit-box-shadow: inset 0 0 0 1px rgba(84,113,231,1);
    -moz-box-shadow:    inset 0 0 0 1px rgba(84,113,231,1);
    box-shadow:         inset 0 0 0 1px rgba(84,113,231,1);
}

textarea:focus, input[type="text"]:focus {
    -webkit-box-shadow: inset 0 0 0 2px rgba(84,113,231,1);
    -moz-box-shadow:    inset 0 0 0 2px rgba(84,113,231,1);
    box-shadow:         inset 0 0 0 2px rgba(84,113,231,1);
}

/* COLORS */

.c-white    { color: #fff; }
.c-grey     { color: #7a91b6; }
.c-black    { color: #18202d; }
.c-lighter  { color: rgba(255, 255, 255, 0.1); }
.c-darker   { color: rgba(0, 0, 0, 0.2); }

.c-red      { color: #fe4f44; }
.c-green    { color: #02cea9; }
.c-blue     { color: #5471e7; }
.c-yellow   { color: #fef045; }

.bg-white   { background: #fff; }
.bg-black   { background: #18202d; }
.bg-lighter { background: rgba(255, 255, 255, 0.1); }
.bg-darker  { background: rgba(0, 0, 0, 0.2); }

.bg-red     { background: #fe4f44; }
.bg-green   { background: #02cea9; }
.bg-blue    { background: #5471e7; }
.bg-yellow  { background: #fef045; }

/* GRID */
.container { max-width: 1024px; margin: auto; padding: 1em; }

.row, .full-width, table, img { width: 100%;}
.row > .col:last-of-type      { margin-right: 0; }
.row:after                    { content: ""; display: table; clear: both; }

.col   { float: left; width: 94%; margin-right: 5%; padding: 0.813em 3% 0 3%; margin-bottom: 0.813em; margin-top: 0.813em; }

.boxed { width: 90%; margin-right: 0; padding: 0 5%; }

.x1-half                { width: 41.5%; }
.x1-third               { width: 24%; }
.x1-fourth              { width: 15.25%; }

.x2-third, .x2-thirds 	{ width: 59%; }
.x3-fourth, .x3-fourths { width: 67.75%; }

/* MOBILE */
@media(max-width:650px) {
    html { font-size: 100%; }
    .col { width: 90%; margin: 0.3em 0; padding: 0 5%; }

    button, .button, input[type="submit"] { width: 100%; margin-right: 0; }
    table, tr, td, th                     { padding-left: 0;}

    h1 { font-size: 3.25em;}
    h2 { font-size: 2.640625em ;}
    h3 { font-size: 1.625em;}

    small, .small { width: auto;}
}

/* HELPER */
.right 	                    { float: right; }
.t-right                    { text-align: right;}
.center                     { text-align: center;}
.center > div, .right > div { clear: both; display: inline-block; float: none;}
.no-fit                     { width: auto;}
.block                      { margin-top: 5em;}

/* FIXES */

/* REMOVING DOTTED OUTLINES */
input::-moz-focus-inner, input::-moz-focus-outer    { border: none; }
button::-moz-focus-inner, input::-moz-focus-outer   { border: none; }
textarea::-moz-focus-inner, input::-moz-focus-outer { border: none; }
input:focus    { outline: none; }
button:focus   { outline: none; }
textarea:focus { outline: none; }
